<table border="1" width="90%" align="center">
	<tr>
		<td>Airline Code</td>
		<td><input type="text"/><input type="button" value="Search"></td>
	</tr>
	<tr>
		<td>
			Airline Name:
		</td>
		<td>Aegean Aviation</td>
	</tr>
	<tr>
		<td>
			Invol Full Refund Policy:
		</td>
		<td>
			Covid : Refund option through GDS is not allowed by A3. They are currently offering an option to exchange
			unused tickets to the clients, so please refer to their Covid Rebooking Policy. ( We are currently unable to
			process refunds.)
		</td>
	</tr>
	<tr>
		<td>
			Covid Rebooking Policy:
		</td>
		<td>
			"A change fee waiver is available on tickets issued on/before May 18, 2020 .
			New Dates: Tickets to be reissued within ticket validity for travel to commence as per reissued ticket
			validity .
			New Fare: Customer pays difference if new fare is higher."
		</td>
	</tr>
</table>